body {
    background-image: url(./image/backimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}

#root {
    background-color: aliceblue;
}
