body {
    background-image: url(./image/backimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    min-height: 100vh;
    /* margin: 10%; */
    text-align: center;
}
h1 {
    font-size: 50px;
    color: rgb(79, 79, 79);
    margin-top: 100px;
}

#root {
    /* background-color: aliceblue; */
}
